<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_AdditionalCmsPageLayouts>
            <version>0.1.0</version>
        </Stableflow_AdditionalCmsPageLayouts>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <navigation>Stableflow_AdditionalCmsPageLayouts_Block_Navigation</navigation>
                </rewrite>
            </catalog>
        </blocks>
        <page>
            <layouts>
                <page_left_menu>
                    <label>One column left menu</label>
                    <template>page/1column-left-menu.phtml</template>
                </page_left_menu>
                <page_two_columns_top>
                    <label>Two column top</label>
                    <template>page/2columns-top.phtml</template>
                </page_two_columns_top>
            </layouts>
        </page>
        <!--<resources>
            <manufacturer_attribute_setup>
                <setup>
                    <module>Manufacturer_Number_Attribute</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </manufacturer_attribute_setup>
            <manufacturer_attribute_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </manufacturer_attribute_setup_write>
            <manufacturer_attribute_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </manufacturer_attribute_setup_read>
        </resources>-->
    </global>
</config>