<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Youama_Ajaxlogin>
            <version>2.0.5</version>
        </Youama_Ajaxlogin>
    </modules>
    <global>
        <models>
            <youama_ajaxlogin>
                <class>Youama_Ajaxlogin_Model</class>
            </youama_ajaxlogin>
        </models>
        <blocks>
            <youama_ajaxlogin>
                <class>Youama_Ajaxlogin_Block</class>
            </youama_ajaxlogin>
        </blocks>
        <resources>
            <youama_attribute_setup>
                <setup>
                    <module>Youama_Ajaxlogin</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </youama_attribute_setup>
            <Youama_Ajaxlogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Youama_Ajaxlogin_write>
            <Youama_Ajaxlogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Youama_Ajaxlogin_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <youama_ajaxlogin>
                <use>standard</use>
                <args>
                    <module>Youama_Ajaxlogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </youama_ajaxlogin>
            <customer>
                <args>
                    <modules>
                        <youama_ajaxlogin before="Mage_Customer">Youama_Ajaxlogin</youama_ajaxlogin>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <youama_ajaxlogin>
                    <file>youama_ajaxlogin.xml</file>
                </youama_ajaxlogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <youama_ajaxlogin>
                    <files>
                        <default>Youama_Ajaxlogin.csv</default>
                    </files>
                </youama_ajaxlogin>
            </modules>
        </translate>
    </frontend>
    
    <default>
        <youamaajaxlogin>
            <settings>
                <power>1</power>
                <jquery>0</jquery>
                <jqueryui>0</jqueryui>
                <redirection>0</redirection>
            </settings>
        </youamaajaxlogin>
    </default>
</config>