<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Stableflow_Log404>
            <version>0.1.0</version>
        </Stableflow_Log404>
    </modules>
    <global>
        <models>
            <sf_log404>
                <class>Stableflow_Log404_Model</class>
                <resourceModel>sf_log404_resource</resourceModel>
            </sf_log404>
            <sf_log404_resource>
                <class>Stableflow_Log404_Model_Resource</class>
                <entities>
                    <log404>
                        <table>log_404</table>
                    </log404>
                </entities>
            </sf_log404_resource>
        </models>
        <resources>
            <sf_log404_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sf_log404_write>
            <sf_log404_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sf_log404_read>
            <sf_log404_setup>
                <setup>
                    <module>Stableflow_Log404</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sf_log404_setup>
        </resources>
        <helpers>
            <sf_log404>
                <class>Stableflow_Log404_Helper</class>
            </sf_log404>
        </helpers>
        <blocks>
            <sf_log404>
                <class>Stableflow_Log404_Block</class>
            </sf_log404>
        </blocks>
    </global>
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <sf_log404 before="Mage_Cms">Stableflow_Log404_Cms</sf_log404>
                    </modules>
                </args>
            </cms>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sf_log404 before="Mage_Adminhtml">Stableflow_Log404_Adminhtml</sf_log404>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sf_log404>
                    <file>sf_log404.xml</file>
                </sf_log404>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <sf_log404>
            <general>
                <is_enabled>1</is_enabled>
                <notification_type>0</notification_type>
                <logfile_name>log404.log</logfile_name>
            </general>
        </sf_log404>
    </default>
</config>