/** Tooltips CSS **/

.line-pdf, .line-icon {
    margin-top: 10px;
}

.line-pdf .tooltip-pdf a {
    color: #FFFFFF;
    cursor: pointer;
}

.line-pdf li  {
    display: inline-block;
    width: 30px;
}

.line-pdf li img, .line-icon  li img {
    width: 100%;
}

.line-pdf li .tooltip-pdf-text img {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
}

.tooltip-pdf {
    position: relative;
    display: inline-block;

}

.line-icon li  {
    display: inline-block;
    width: 40px;
}

.line-icon li .tooltip-pdf-text img {
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
}

/* Tooltip text */
.tooltip-pdf .tooltip-pdf-text {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -500%;
    left: 200%;
    margin-left: -60px;
    font-size: 13px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}

.line-icon  .tooltip-pdf .tooltip-pdf-text {
    visibility: hidden;
    width: 180px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 7px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: auto;
    left: 200%;
    margin-left: -60px;
    font-size: 13px;
    opacity: 0;
    transition: opacity 0.5s;
    color: #000;
}



/* Tooltip arrow */
/*.tooltip-pdf .tooltip-pdf-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-pdf:hover .tooltip-pdf-text {
    visibility: visible;
    opacity: 0.5;
}

/** END Tooltips CSS **/