<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_Review>
            <version>0.0.1</version>
        </Stableflow_Review>
    </modules>
    <global>
        <helpers>
            <sbaleflow_review>
                <class>Stableflow_Review_Helper</class>
            </sbaleflow_review>
        </helpers>
        <models>

        </models>
    </global>
</config>