<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Stableflow_AjaxCart>
            <version>0.1.0</version>
        </Stableflow_AjaxCart>
    </modules>
    <global>
        <blocks>
            <sf_ajaxcart>
                <class>Stableflow_AjaxCart_Block</class>
            </sf_ajaxcart>
        </blocks>
        <helpers>
            <sf_ajaxcart>
                <class>Stableflow_AjaxCart_Helper</class>
            </sf_ajaxcart>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <sf_ajaxcart>
                    <file>sf_ajaxcart.xml</file>
                </sf_ajaxcart>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Stableflow_AjaxCart before="Mage_Checkout">Stableflow_AjaxCart</Stableflow_AjaxCart>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Stableflow_Ajaxcart>
                    <files>
                        <default>Stableflow_Ajaxcart.csv</default>
                    </files>
                </Stableflow_Ajaxcart>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Stableflow_Ajaxcart>
                    <files>
                        <default>Stableflow_Ajaxcart.csv</default>
                    </files>
                </Stableflow_Ajaxcart>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sf_ajaxcart>
            <general module="sf_ajaxcart">
                <enabled>1</enabled>
            </general>
        </sf_ajaxcart>
    </default>
</config>