<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_Rulletka>
            <version>0.1.0</version>
        </Stableflow_Rulletka>
    </modules>
    <global>
        <blocks>
            <rulletka>
                <class>Stableflow_Rulletka_Block</class>
            </rulletka>
            <catalog>
                <rewrite>
                    <navigation>Stableflow_Rulletka_Block_Navigation</navigation>
                    <product_view_attributes>Stableflow_Rulletka_Block_Attributes</product_view_attributes>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_breadcrumbs>Stableflow_Rulletka_Block_Breadcrumbs</html_breadcrumbs>
                    <html_topmenu>Stableflow_Rulletka_Block_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <page>
            <layouts>
                <page_left_menu>
                    <label>One column left menu</label>
                    <template>page/1column-left-menu.phtml</template>
                </page_left_menu>
                <page_two_columns_top>
                    <label>Two column top</label>
                    <template>page/2columns-top.phtml</template>
                </page_two_columns_top>
            </layouts>
        </page>
        <helpers>
            <rulletka>
                <class>Stableflow_Rulletka_Helper</class>
            </rulletka>
        </helpers>
        <resources>
            <rulletka_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rulletka_write>
            <rulletka_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rulletka_read>
            <rulletka_setup>
                <setup>
                    <module>Stableflow_Rulletka</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rulletka_setup>
        </resources>
        <!--<events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <add_position_field>
                        <type>model</type>
                        <class>Stableflow_Rulletka_Model_Observer</class>
                        <method>addPositionToAttribute_</method>
                    </add_position_field>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <adminhtml_block_html_before>
                <observers>
                    <add_position_field_front>
                        <type>model</type>
                        <class>Stableflow_Rulletka_Model_Observer</class>
                        <method>addPositionToAttribute</method>
                    </add_position_field_front>
                </observers>
            </adminhtml_block_html_before>
        </events>-->
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Stableflow_ProductTooltips>
                    <files>
                        <default>Stableflow_Rulletka.csv</default>
                    </files>
                </Stableflow_ProductTooltips>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <rulletka>
            <rulletka_breadcrumbs>
                <enabled><![CDATA[1]]></enabled>
            </rulletka_breadcrumbs>
        </rulletka>
    </default>
</config>