<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_AdditionalCodes>
            <version>0.1.0</version>
        </Stableflow_AdditionalCodes>
    </modules>
    <global>
        <models>
            <additional_codes>
                <class>Stableflow_AdditionalCodes_Model</class>
                <resourceModel>additional_codes_resource</resourceModel>
            </additional_codes>
            <additional_codes_resource>
                <class>Stableflow_AdditionalCodes_Model_Resource</class>
                <entities>
                    <product_attribute_additional_codes>
                        <table>catalog_product_additional_codes</table>
                    </product_attribute_additional_codes>
                </entities>
            </additional_codes_resource>
        </models>
        <helpers>
            <additional_codes>
                <class>Stableflow_AdditionalCodes_Helper</class>
            </additional_codes>
        </helpers>
        <blocks>
            <additional_codes>
                <class>Stableflow_AdditionalCodes_Block</class>
            </additional_codes>
        </blocks>
        <resources>
            <additional_codes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </additional_codes_write>
            <additional_codes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </additional_codes_read>
            <additional_codes_setup>
                <setup>
                    <module>Stableflow_AdditionalCodes</module>
                    <class>Stableflow_AdditionalCodes_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </additional_codes_setup>
        </resources>
    </global>
    <translate>
        <modules>
            <Stableflow_AdditionalCodes>
                <files>
                    <default>Stableflow_AdditionalCodes.csv</default>
                </files>
            </Stableflow_AdditionalCodes>
        </modules>
    </translate>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stableflow_AdditionalCodes before="Mage_Adminhtml">Stableflow_AdditionalCodes_Adminhtml</Stableflow_AdditionalCodes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <additional_codes>
                    <file>additional_codes.xml</file>
                </additional_codes>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stableflow_AdditionalCodes>
                    <files>
                        <default>Stableflow_AdditionalCodes.csv</default>
                    </files>
                </Stableflow_AdditionalCodes>
            </modules>
        </translate>
    </adminhtml>
</config>