<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_UserManual>
            <version>0.1.0</version>
        </Stableflow_UserManual>
    </modules>
    <global>
        <blocks>
            <user_manual>
                <class>Stableflow_UserManual_Block</class>
            </user_manual>
        </blocks>
        <models>
            <user_manual>
                <class>Stableflow_UserManual_Model</class>
                <resourceModel>user_manual_resource</resourceModel>
            </user_manual>
            <user_manual_resource>
                <class>Stableflow_UserManual_Model_Resource</class>
                <entities>
                    <manual>
                        <table>catalog_product_manual</table>
                    </manual>
                    <manual_value>
                        <table>catalog_product_manual_value</table>
                    </manual_value>
                </entities>
            </user_manual_resource>
        </models>
        <resources>
            <user_manual_setup>
                <setup>
                    <module>Stableflow_UserManual</module>
                    <class>Stableflow_UserManual_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </user_manual_setup>
            <user_manual_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </user_manual_read>
            <user_manual_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </user_manual_write>
        </resources>
        <helpers>
            <user_manual>
                <class>Stableflow_UserManual_Helper</class>
            </user_manual>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <user_manual>
                    <file>user_manual.xml</file>
                </user_manual>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stableflow_UserManual before="Mage_Adminhtml">Stableflow_UserManual_Adminhtml</Stableflow_UserManual>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <Stableflow_UserManual>
                    <file>user_manual.xml</file>
                </Stableflow_UserManual>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stableflow_UserManual>
                    <files>
                        <default>Stableflow_UserManual.csv</default>
                    </files>
                </Stableflow_UserManual>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <fishpig_save_product_data>
                        <type>singleton</type>
                        <class>user_manual/observer</class>
                        <method>saveProductTabData</method>
                    </fishpig_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>