<?xml version="1.0"?>
<config>
    <modules>
        <MKMage_LayeredNavigation>
            <version>0.1.0</version>
        </MKMage_LayeredNavigation>
    </modules>
    <renderer>false</renderer>
    <global>
    	<blocks>
    		<layerednavigation>
    			<class>MKMage_LayeredNavigation_Block</class>
    		</layerednavigation>
    		<catalog>
    			<rewrite>
    				<layer_filter_price>MKMage_LayeredNavigation_Block_Layer_Filter_Price</layer_filter_price>
    			</rewrite>
    		</catalog>
    	</blocks>
        <models>
            <layerednavigation>
                <class>MKMage_LayeredNavigation_Model</class>
            </layerednavigation>
        </models>
        <helpers>
        	<layerednavigation>
        		<class>MKMage_LayeredNavigation_Helper</class>
        	</layerednavigation>
        </helpers>
        <events>
        	<controller_front_init_before>
        		<observers>
        			<layerednavigation>
        				<type>singleton</type>
                        <class>MKMage_LayeredNavigation_Model_Observer</class>
                        <method>checkIfActive</method>
        			</layerednavigation>
        		</observers>
        	</controller_front_init_before>
            <admin_system_config_changed_section_mkmage_layerednavigation>
                <observers>
                    <layerednavigation>
                        <type>singleton</type>
                        <class>MKMage_LayeredNavigation_Model_Observer</class>
                        <method>validateSystemSettings</method>
                    </layerednavigation>
                </observers>
            </admin_system_config_changed_section_mkmage_layerednavigation>
        	<controller_action_layout_render_before_catalog_category_view>
        		<observers>
					<mkmage_layerednavigation_ajax_filters>
						<type>singleton</type>
						<class>MKMage_LayeredNavigation_Model_Observer</class>
						<method>initCategoryAjax</method>
					</mkmage_layerednavigation_ajax_filters>       		
        		</observers>
        	</controller_action_layout_render_before_catalog_category_view>        	
        	<controller_action_layout_render_before_catalogsearch_result_index>
        		<observers>
					<mkmage_layerednavigation_ajax_filters_search>
						<type>singleton</type>
						<class>MKMage_LayeredNavigation_Model_Observer</class>
						<method>initSearchAjax</method>
					</mkmage_layerednavigation_ajax_filters_search>       		
        		</observers>
        	</controller_action_layout_render_before_catalogsearch_result_index>        	
        </events>
    </global>
    <adminhtml>
		<layout>
			<updates>
				<layerednavigation>
					<file>mkmage/layerednavigation.xml</file>
				</layerednavigation>
			</updates>
		</layout>  
    	<acl>
        	<resources>
            	<all>
                	<title>Allow Everything</title>
            	</all>
            	<admin>
                	<children>
                 		<system>
                     		<children>
                         		<config>
                             		<children>
                                 		<mkmage_layerednavigation>
                                     		<title>Layered Navigation</title>
                                 		</mkmage_layerednavigation>
                             		</children>
                         		</config>
                     		</children>
                 		</system>
                	</children>
            	</admin>
        	</resources>        	
    	</acl>
    </adminhtml>
	<default>
		<mkmage_layerednavigation>
			<mkmage_layerednavigation_general>
				<email_sent>0</email_sent>
			</mkmage_layerednavigation_general>
			<mkmage_layerednavigation_display>
				<filter_color>7f7f7f</filter_color>
			</mkmage_layerednavigation_display>
			<mkmage_layerednavigation_display>
				<filter_color_active>363636</filter_color_active>
			</mkmage_layerednavigation_display>
		</mkmage_layerednavigation>
	</default>
</config>