<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <mkmage_layerednavigation translate="label" module="layerednavigation">
            <label>Layered Navigation</label>
            <tab>general</tab>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            	<mkmage_layerednavigation_general translate="label" module="layerednavigation">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <comment>
					<![CDATA[
						<style>#row_mkmage_layerednavigation_mkmage_layerednavigation_general_email_sent{display:none;}</style>
                    ]]>
                    </comment>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <layerednavigation_enabled translate="label">
                            <label>Enable extension</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </layerednavigation_enabled>
                    </fields>
            	</mkmage_layerednavigation_general>
            	<mkmage_layerednavigation_display translate="label" module="layerednavigation">
                    <label>Display options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <catalogsearch_enable translate="label">
                            <label>Enable extension on search results</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>                         
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </catalogsearch_enable>
                        <price_slider_enable translate="label">
                            <label>Enable price slider</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Enable price slider on layered navigation.</comment>                            
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_slider_enable>
                        <loader_image translate="label" module="layerednavigation">
                            <label>Loader image</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">theme</upload_dir>
                            <base_url type="media" scope_info="1">theme</base_url>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Press "Save Config" (upper right button) to upload the image file</comment>
                        </loader_image>
						<filter_color>
						   	<label>Filter color</label>
						   	<frontend_type>text</frontend_type>
						   	<validate>color</validate> <!-- This is important -->
						   	<sort_order>4</sort_order>
						   	<show_in_default>1</show_in_default>
						   	<show_in_website>1</show_in_website>
						   	<show_in_store>1</show_in_store>
						   	<comment>Specify the filter color.</comment>
						</filter_color>
						<filter_color_active>
						   	<label>Filter color (active)</label>
						   	<frontend_type>text</frontend_type>
						   	<validate>color</validate> <!-- This is important -->
						   	<sort_order>5</sort_order>
						   	<show_in_default>1</show_in_default>
						   	<show_in_website>1</show_in_website>
						   	<show_in_store>1</show_in_store>
						   	<comment>Specify the color of the active filters.</comment>
						</filter_color_active>
                    </fields>         	
            	</mkmage_layerednavigation_display>
            </groups>
        </mkmage_layerednavigation>
    </sections>
</config>