<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Catsidebarnav>
            <version>0.1.3</version>
        </Magebuzz_Catsidebarnav>
    </modules>
    <frontend>
        <layout>
            <updates>
                <catsidebarnav>
                    <file>catsidebarnav.xml</file>
                </catsidebarnav>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <catsidebarnav>
                <class>Magebuzz_Catsidebarnav_Model</class>
            </catsidebarnav>
        </models>
        <blocks>
            <catsidebarnav>
               <class>Magebuzz_Catsidebarnav_Block</class>
            </catsidebarnav>
            <catalog>
                <rewrite>
                      <navigation>Magebuzz_Catsidebarnav_Block_Catsidebarnav</navigation>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <catsidebarnav>
                <class>Magebuzz_Catsidebarnav_Helper</class>
            </catsidebarnav>
            <catalog>
                <rewrite>
                      <category>Magebuzz_Catsidebarnav_Helper_Category</category>
                </rewrite>
            </catalog>
        </helpers>
    </global>
  <!--Set Default Value For Setting Options-->
    <default>
        <catsidebarnav>
            <display_settings>
                <enabled>1</enabled>
                <include_jquery>1</include_jquery>
                <position>left</position>
                <category_level>0</category_level>
                <show_type>static</show_type>
            </display_settings>
        </catsidebarnav>
    </default>
</config>