<!--@subject New order #{{var order.entity_id}} from {{if customer.is_guest}}Guest{{else}}{{var customer.name}}{{/if}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td valign="top">
                <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
                Заказ #{{var order.entity_id}} from {{htmlescape var=$customer.name}}
                </h1>
                <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                    Информация пользователя:<br/>
                    {{if customer.is_guest}}
                    <strong>Имя</strong>: Гость<br/>
                    {{else}}
                    <strong>Имя</strong>: {{var customer.name}}<br/>
                    <strong>E-mail</strong>: {{var customer.email}}<br/>
                    {{/if}}
                    <strong>Телефон</strong>: {{var order.getFullPhoneNumber()}}<br/>
                    <strong>Коментарий</strong>: {{var order.comment}}<br/>
                </p>

            </td>
        </tr>
        <tr>
            <td align="center">
                {{layout area="frontend" handle="oneclickorder_email_order_items" invoice=$invoice order=$order}}

            </td>
        </tr>
        <tr>
            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Спасибо!, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
        </tr>
    </table>
{{template config_path="design/email/footer"}}