<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Stableflow_BlackIp>
            <version>0.1.0</version>
        </Stableflow_BlackIp>
    </modules>
    <global>
        <models>
            <sf_blackip>
                <class>Stableflow_BlackIp_Model</class>
                <resourceModel>sf_blackip_resource</resourceModel>
            </sf_blackip>
            <sf_blackip_resource>
                <class>Stableflow_BlackIp_Model_Resource</class>
                <entities>
                    <blacklist>
                        <table>blackip_blacklist</table>
                    </blacklist>
                </entities>
            </sf_blackip_resource>
        </models>
        <resources>
            <sf_blackip_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sf_blackip_write>
            <sf_blackip_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sf_blackip_read>
            <sf_blackip_setup>
                <setup>
                    <module>Stableflow_BlackIp</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sf_blackip_setup>
        </resources>
        <blocks>
            <sf_blackip>
                <class>Stableflow_BlackIp_Block</class>
            </sf_blackip>
        </blocks>
        <helpers>
            <sf_blackip>
                <class>Stableflow_BlackIp_Helper</class>
            </sf_blackip>
        </helpers>
        <events>
            <controller_front_init_before>
                <observers>
                    <sf_blackip_observer>
                        <type>model</type>
                        <class>Stableflow_BlackIp_Model_Observer</class>
                        <method>checkBlocked</method>
                    </sf_blackip_observer>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sf_blackip before="Mage_Adminhtml">Stableflow_BlackIp_Adminhtml</sf_blackip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sf_blackip>
                    <file>sf_blackip.xml</file>
                </sf_blackip>
            </updates>
        </layout>
        <translate>
            <modules>
                <sf_blackip>
                    <files>
                        <default>sf_blackip.csv</default>
                    </files>
                </sf_blackip>
            </modules>
        </translate>
    </adminhtml>
</config>