<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_Company>
            <version>0.1.5</version>
        </Stableflow_Company>
    </modules>
    <global>
        <models>
            <company>
                <class>Stableflow_Company_Model</class>
                <resourceModel>company_resource</resourceModel>
            </company>
            <company_resource>
                <class>Stableflow_Company_Model_Resource</class>
                <entities>
                    <company_entity>
                        <table>company_entity</table>
                    </company_entity>
                    <company_entity_datetime>
                        <table>company_entity_datetime</table>
                    </company_entity_datetime>
                    <company_entity_decimal>
                        <table>company_entity_decimal</table>
                    </company_entity_decimal>
                    <company_entity_int>
                        <table>company_entity_int</table>
                    </company_entity_int>
                    <company_entity_text>
                        <table>company_entity_text</table>
                    </company_entity_text>
                    <company_entity_varchar>
                        <table>company_entity_varchar</table>
                    </company_entity_varchar>
                    <company_entity_char>
                        <table>company_entity_char</table>
                    </company_entity_char>

                    <address_entity>
                        <table>company_address_entity</table>
                    </address_entity>
                    <address_entity_datetime>
                        <table>company_address_entity_datetime</table>
                    </address_entity_datetime>
                    <address_entity_decimal>
                        <table>company_address_entity_decimal</table>
                    </address_entity_decimal>
                    <address_entity_int>
                        <table>company_address_entity_int</table>
                    </address_entity_int>
                    <address_entity_text>
                        <table>company_address_entity_text</table>
                    </address_entity_text>
                    <address_entity_varchar>
                        <table>company_address_entity_varchar</table>
                    </address_entity_varchar>
                    <address_entity_char>
                        <table>company_address_entity_char</table>
                    </address_entity_char>

                    <address_form_attribute>
                        <table>company_address_form_attribute</table>
                    </address_form_attribute>

                    <product_entity>
                        <table>company_product_entity</table>
                    </product_entity>
                    <product_entity_datetime>
                        <table>company_product_entity_datetime</table>
                    </product_entity_datetime>
                    <product_entity_decimal>
                        <table>company_product_entity_decimal</table>
                    </product_entity_decimal>
                    <product_entity_int>
                        <table>company_product_entity_int</table>
                    </product_entity_int>
                    <product_entity_text>
                        <table>company_product_entity_text</table>
                    </product_entity_text>
                    <product_entity_varchar>
                        <table>company_product_entity_varchar</table>
                    </product_entity_varchar>
                    <product_entity_char>
                        <table>company_product_entity_char</table>
                    </product_entity_char>

                    <eav_attribute>
                        <table>company_eav_attribute</table>
                    </eav_attribute>

                    <company_type>
                        <table>company_type</table>
                    </company_type>
                    <company_activity>
                        <table>company_activity</table>
                    </company_activity>
                    <company_owner>
                        <table>company_to_owner</table>
                    </company_owner>
                    <!-- Parser -->
                    <price_type>
                        <table>company_price_type</table>
                    </price_type>
                    <parser_config>
                        <table>company_parser_config</table>
                    </parser_config>
                    <parser_config>
                        <table>company_parser_config</table>
                    </parser_config>
                    <parser_tasks>
                        <table>company_parser_tasks</table>
                    </parser_tasks>
                    <parser_log>
                        <table>company_parser_log</table>
                    </parser_log>
                    <parser_queue>
                        <table>company_parser_queue</table>
                    </parser_queue>
                    <parser_additional_code_info>
                        <table>company_parser_additional_code_info</table>
                    </parser_additional_code_info>
                    <!--  -->
                </entities>
            </company_resource>
        </models>
        <helpers>
            <company>
                <class>Stableflow_Company_Helper</class>
            </company>
        </helpers>
        <blocks>
            <company>
                <class>Stableflow_Company_Block</class>
            </company>
        </blocks>
        <resources>
            <company_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </company_write>
            <company_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </company_read>
            <company_setup>
                <setup>
                    <module>Stableflow_Company</module>
                    <class>Stableflow_Company_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </company_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <company_router>
                        <class>Stableflow_Company_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </company_router>
                </observers>
            </controller_front_init_routers>
            <adminhtml_widget_container_html_before>
                <observers>
                    <company_add_button_to_grid>
                        <class>Stableflow_Company_Model_Observer</class>
                        <method>addButtonToGrid</method>
                    </company_add_button_to_grid>
                </observers>
            </adminhtml_widget_container_html_before>
            <!--<company_parser_entity_product_update_after>
                <observers>
                    <parser_product_update>
                        <class>Stableflow_Company_Model_Observer</class>
                        <method>addToLog</method>
                    </parser_product_update>
                </observers>
            </company_parser_entity_product_update_after>-->
        </events>
        <parser module="company">
            <import_entities>
                <company_product translate="label">
                    <model_token>company/parser_entity_product</model_token>
                    <label>Products</label>
                </company_product>
            </import_entities>
            <import_product_types>
                <simple>company/parser_entity_product_type_simple</simple>
            </import_product_types>
            <import>
                <catalog_product>
                    <attributes>
                        <url_key>
                            <backend_model>company/product_attribute_backend_urlkey</backend_model>
                        </url_key>
                    </attributes>
                </catalog_product>
            </import>
        </parser>
    </global>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <company_add_menu_item>
                        <class>Stableflow_Company_Model_Observer</class>
                        <method>addMenuItems</method>
                        <!--<method>addItemsToTopmenu</method>-->
                    </company_add_menu_item>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <routers>
            <company>
                <use>standard</use>
                <args>
                    <module>Stableflow_Company</module>
                    <frontName>company</frontName>
                </args>
            </company>
        </routers>
        <layout>
            <updates>
                <company>
                    <file>company.xml</file>
                </company>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stableflow_Company>
                    <files>
                        <default>Stableflow_Company.csv</default>
                    </files>
                </Stableflow_Company>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <!--<events>
            <customer_save_after>
                <observers>
                    <update_relation_table>
                        <type>singleton</type>
                        <class>company/observer</class>
                        <method>updateOwner</method>
                    </update_relation_table>
                </observers>
            </customer_save_after>
        </events>-->
        <layout>
            <updates>
                <company>
                    <file>company.xml</file>
                </company>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stableflow_Company>
                    <files>
                        <default>Stableflow_Company.csv</default>
                    </files>
                </Stableflow_Company>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stableflow_Company before="Mage_Adminhtml">Stableflow_Company_Adminhtml</Stableflow_Company>
                        <!--<company before="Mage_Adminhtml">Stableflow_Company_Adminhtml</company>-->
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <compnay>
            <general>
                <name>Companies</name>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>company</url_prefix>
                <url_suffix>html</url_suffix>
                <url_rewrite_list>companies</url_rewrite_list>
                <allow_comment>1</allow_comment>
                <meta_title>Company</meta_title>
            </general>
        </compnay>
    </default>
    <crontab>
        <jobs>
            <company_sitemap_generate>
                <schedule>
                    <!--At midnight on first day-of-month-->
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>company/observer::generateSiteMap</model>
                </run>
            </company_sitemap_generate>
            <company_parser_jobs>
                <schedule>
                    <!--At midnight-->
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>company/parser::updatePriceLists</model>
                </run>
            </company_parser_jobs>
        </jobs>
    </crontab>
</config>