<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_ProductTooltips>
            <version>0.1.1</version>
        </Stableflow_ProductTooltips>
    </modules>
    <global>
        <blocks>
            <product_tooltips>
                <class>Stableflow_ProductTooltips_Block</class>
            </product_tooltips>
        </blocks>
        <helpers>
            <product_tooltips>
                <class>Stableflow_ProductTooltips_Helper</class>
            </product_tooltips>
        </helpers>
        <models>
            <product_tooltips>
                <class>Stableflow_ProductTooltips_Model</class>
                <resourceModel>product_tooltips_resource</resourceModel>
            </product_tooltips>
            <product_tooltips_resource>
                <class>Stableflow_ProductTooltips_Model_Resource</class>
                <entities>
                    <tooltip>
                        <table>catalog_product_tooltip</table>
                    </tooltip>
                    <tooltip_value>
                        <table>catalog_product_tooltip_value</table>
                    </tooltip_value>
                </entities>
            </product_tooltips_resource>
        </models>
        <resources>
            <product_tooltips_setup>
                <setup>
                    <module>Stableflow_ProductTooltips</module>
                    <class>Stableflow_ProductTooltips_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </product_tooltips_setup>
            <product_tooltips_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </product_tooltips_read>
            <product_tooltips_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </product_tooltips_write>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <product_tooltips>
                    <file>product_tooltips.xml</file>
                </product_tooltips>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stableflow_ProductTooltips>
                    <files>
                        <default>Stableflow_ProductTooltips.csv</default>
                    </files>
                </Stableflow_ProductTooltips>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <product_tooltips>
                    <file>product_tooltips.xml</file>
                </product_tooltips>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stableflow_ProductTooltips>
                    <files>
                        <default>Stableflow_ProductTooltips.csv</default>
                    </files>
                </Stableflow_ProductTooltips>
            </modules>
        </translate>
        <!--<events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <product_tooltips_tooltip_product>
                        <type>singleton</type>
                        <class>product_tooltips/adminhtml_observer</class>
                        <method>addProductAttachmentBlock</method>
                    </product_tooltips_tooltip_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_save_after>
                <observers>
                    <product_tooltips_tooltip_product>
                        <type>singleton</type>
                        <class>product_tooltips/adminhtml_observer</class>
                        <method>saveProductAttachmentData</method>
                    </product_tooltips_tooltip_product>
                </observers>
            </catalog_product_save_after>
        </events>-->
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stableflow_ProductTooltips before="Mage_Adminhtml">Stableflow_ProductTooltips_Adminhtml</Stableflow_ProductTooltips>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>