<?xml version="1.0"?>
<config>
    <modules>
        <Stableflow_Redirect301>
            <version>0.1.0</version>
        </Stableflow_Redirect301>
    </modules>
    <global>
        <models>
            <redirect301>
                <class>Stableflow_Redirect301_Model</class>
                <resourceModel>redirect301_resource</resourceModel>
            </redirect301>
                <redirect301_resource>
                    <class>Stableflow_Redirect301_Model_Resource</class>
                    <entities>
                        <ref_table>
                            <table>redirect301_ref</table>
                        </ref_table>
                    </entities>
                </redirect301_resource>
        </models>
        <resources>
            <redirect301_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </redirect301_write>
            <redirect301_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </redirect301_read>
            <redirect301_setup>
                <setup>
                    <module>Stableflow_Redirect301</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </redirect301_setup>
        </resources>
        <helpers>
            <redirect301>
                <class>Stableflow_Redirect301_Helper</class>
            </redirect301>
        </helpers>
<!--        <events>
            <controller_front_init_routers>
                <observers>
                    <company>
                        <class>Stableflow_Redirect301_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </company>
                </observers>
            </controller_front_init_routers>
        </events>-->
    </global>
    <default>
        <web>
            <routers>
                <redirect301>
                    <area>frontend</area>
                    <class>Stableflow_Redirect301_Controller_Router</class>
                </redirect301>
            </routers>
        </web>
    </default>
</config>